---
eleventyExcludeFromCollections: true
permalink: /crux/dist/js/vmr-crux-gpt-debugging.js
---
{%- set js -%}
    {%- include "src/crux/js/vmr-crux-gpt-debugging.js" -%}
{%- endset -%}
{{ js | safe }}